.footer {
    background-color:rgb(175, 175, 175);
    padding: 5px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #868788ab;
  }
  
  .footer-content { /* Adjust as needed */
    margin: auto;
  }

  .footer-text{
    text-shadow: 0 3px 6px #272727;
  }

  .footer-text h2{
    font-family: 'Rounded';
    font-size: 30px;
  }

  .footer-text p{
    font-family: 'Ubuntu';
    text-shadow: none;
    font-size: 14px;
    color: #424242;
  }

  .underline {
    text-decoration: underline;
    cursor: pointer;
  }
  .underline:visited{
    color: #424242;
  }
  